// State of elements like buttons such as hover, active, focus etc

// Mixins
@import 'mixins';
// Mixins
@import 'mixins';

// BUTTONS STATIC 
.button {
    width: 40%;
    height: 90%;
    font-weight: $font-weight-bold;
    border-radius: 8px;
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: none;
}

.primary-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color;
    color: $primary-color;
}

.secondary-button {
    border: 5px solid $secondary-color;
    background-color: $primary-color;
    color: $tertiary-color;
}